
#itemDetail__card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

#itemDetail__img{
    width: 18rem;
}

@media(max-width: 768px){
    #itemDetail__card{
        display: block;
        
        #itemDetail__img{
            width: auto;
        }
    }  
}
