#basicCard{
    background-color:  #bec0bf ;
    margin: 2%;
    padding-top: 5px;
}
#verMas__button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


@media(max-width: 768px){
    #basicCard{
        display: flex;
        flex-direction: column;
        margin: 10px;
        width: 100%;
        height: auto;
    }
}