.menu__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(104, 202, 247);
    width: 100%;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    color: black;
    margin:5px 10px;
}